 <div id="wrapper">
	
    <div class="header">
		<div id="title">Quezzi Chat</div>
		<div id="beta-bookmark" class="tiptip" title="<b>I'm in Beta!</b><br />Please email any bugs you find to tarnfeld[at]me.com! Happy chatting.">It's only a beta!</div>
    </div>

    <div class="inner">
		<p>A real-time chat web app powered by <a href="http://pusherapp.com/" target="_blank">Pusher</a>, built by <a href="http://tarnfeld.com/" target="_blank"></a><br />To join in on the current chat, click below.</p>

		<%= link_to({:controller => "chat", :action => "view", :id => "Q"}, {:class => "button"}) do %>
			<button>New Chat</button>
		<% end %>

	</div>

</div>