body {
  background: url("/images/tile.png") repeat;
  /*font-family: Verdana, Helvetica, Arial;*/
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: 14px;
	margin: auto;
	text-shadow: 1px 1px 0.25px #FFF;
}

a img {
  border: none;
}

a {
  color: #888;
}

.clear {
  clear: both;
  height: -200px;
  overflow: hidden;
  width: 200px;
}

header {
	margin-bottom: 10px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

#container {
  width: 950px;
  /*height: 650px;*/
  margin: 0 auto;
  background: #FCFCFC url("/images/content-background.png") repeat;
  padding: 20px 40px;
  margin-top: 30px;
  margin-bottom: 10px;
  background: #FDFDFD;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

}

.center h2 {
	margin-left: auto;
    margin-right: auto;
	width: 800px;
	padding: 30px;
	margin-top:-25px;
	border-bottom: solid 1px #dde0e1;
	text-align: center;
}
/* Landing Page */

.landing {
	background-color: #FFF;
	width: 950px;
	height: 400px;
	/*border: solid 1px black;*/
	padding: 20px;
}

.value {
	float: left;
	width: 40%;
	/*border: solid 1px black;*/
	padding: 10px;
	margin-left: 50px;
	border-right: solid 1px #dde0e1;
}

.value p {
	padding: 5px;
	margin-left: 40px;
}

.sample_question {
	float: right;
	width: 40%;
	/*border: solid 1px black;*/
	margin-right: 60px;
	padding: 10px;
}

.signup_button {
	float: right;
	width: 40%;
	height: 100px;
	/*border: solid 1px black;*/
	margin-top: 80px;
	margin-right: 60px;
	margin-bottom: 10px;
	padding: 10px;
}

/* Landing Page Button */

a.button {
    background: transparent url('/images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 100px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 30px;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 5px 0 5px 30px; /* push text down 1px */
}

/* Sign In */


.sign_in {
	height: 400px;
	width: 950px;
	border: solid 1px black;
	padding: 10px;
}

.sign_in h1 {
	border-bottom: solid 1px #dde0e1 ;
	text-align: center;
	padding: 5px;
}

#other_signup {
	float: left;
	position: relative;
}

.account_info {
	border: solid 1px black;
	float: right;
	margin-right:100px;
	padding:10px;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  padding:20px;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px #dde0e1;
}

footer nav {
  float: none;
  white-space: nowrap;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/*  Chat Page */

/*.chat header {
	margin-bottom: 1000px;
}*/



/*Flash Notices, Errors and Alerts*/

#flash_notice, #flash_error, #flash_alert {
  clear: both;
  padding: 5px 8px;
  margin: 10px 0;
  width: 400px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

/* User Nav*/

#user_nav {
  float: right;
  margin-bottom: 10px;
  font-size: 100%;
}

/* Authentication Page */

.authentications {
  margin-bottom: 10px;
  width: 100px;
  float: left;
  border: solid 1px black;
}

.authentication {
  width: 100px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}


/* Chat */


ul#chat {
  list-style: none;
  padding: 0;
  width: 500px;
  height: 300px;
  border: solid 1px #777;
  margin: 5px 0;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

ul#chat li {
  margin: 2px 5px;
  padding: 0;
}

ul#chat li .created_at {
  float: right;
  color: #777;
  font-size: 11px;
  padding-left: 4px;
  padding-top: 2px;
}

input#message_content {
  width: 497px;
  height: 30px;
}

.message_form {
	margin-left: auto;
	margin-right: auto;
	/*border: solid 1px black;
	*/
	margin-left: 224px;
}