<h1>About.</h1>

<h3>What is Quezzi?</h3>

<p>Quezzi is a real time question and answer platform. Ask a question and get a response from the community with the opportunity for whatever followups you have.</p>

<h3>Why should I try another Q&A service?</h3>

<p>Although there are plenty of Q&A services on the web, none of them answer the questions to the degree that everyone wants. A question gets the "best answer" and then the thread just sits there to decay. Why should a question become static once it's answered? What about the follow up questions? In order to be useful, there needs to be a discussion with an evolution of questions and answers - this can be solved through a real time chat and it is exactly what Quezzi is trying to do.</p>

<h3>Why can't I create my own question?</h3>

<p>Right now, for the sake of testing, I want to see what kind of demand there is for real time chat around these questions. To do this I've decided that I am only going to host one question per week. If you would like to ask a question please contact me at quezzi[at]gmaildotcom and I will store for a future posting.</p>

<h3>Do you want feedback?</h3>

<p>Please and Always! I am looking for all the feedback I can get and how I can make this site more useful for everyone. I absolutely feel that real-time chat is key to a quality discussion and I am trying to see if that can be translated into a question and answer platform. </p>