<header>
		<a href="/" class="header_logo">
		  <%= image_tag "quezzi.png", :alt => "Quezzi Logo" %>
		</a>
	<div id="user_nav">
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %><br /> 
      Not you?
      <%= link_to "Sign out", destroy_user_session_path %> 
    <% else %>
      <%= link_to "Sign In", authentications_path %>
    <% end %>
  </div>
</header>